<%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-social btn-facebook" do %>
  <span class="fa fa-facebook"></span> Entrar com Facebook
<% end %>

<!--
<a class="btn btn-block btn-social btn-twitter">
  <span class="fa fa-twitter"></span> Entrar com Twitter
</a>
-->
