<div class="row page-header">
  <div class="col-md-6">
    <h1>Todas as lojas</h1>
  </div>
  <% if is_admin? %>
    <div class="col-md-6">
      <div class="pull-right">
        <%= link_to new_store_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Nova loja
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% @stores.each_slice(3) do |three_stores| %>
  <div class="row">
    <% three_stores.each do |store| %>
      <div class="col-md-4">
        <%= render partial: "stores/shared/store", locals: {store: store} %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="col-md-9 col-md-offset-4">
  <%= will_paginate @stores, renderer: BootstrapPagination::Rails %>
</div>
