<div class="page-header">
  <%= link_to new_store_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nova loja
  <% end %>
  <h1>Listando as lojas</h1>
</div>

<% @stores.each_slice(3) do |three_stores| %>
  <div class="row">
    <% three_stores.each do |store| %>
      <div class="col-md-4">
        <%= render partial: "stores/shared/store", locals: {store: store} %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="col-md-9 col-md-offset-4">
  <%= will_paginate @stores, renderer: BootstrapPagination::Rails %>
</div>
