<div class="page-header">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
    <% end %>
  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
   <div class="well profile">
    <div class="col-sm-12">
      <div class="col-xs-12 col-sm-8">
        <h2><%= @user.full_name %></h2>
        <p><strong>Sobre: </strong> Web Designer / UI. </p>
        <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
        <p><strong>Tags: </strong>
          <span class="tags">celulares</span>
          <span class="tags">tvs</span>
          <span class="tags">roupas</span>
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <figure>
          <img src="https://en.opensuse.org/images/0/0b/Icon-user.png" alt="" class="img-circle img-responsive">
          <figcaption class="ratings">
            <p>Votações
              <a href="#">
                <span class="fa fa-star"></span>
              </a>
              <a href="#">
                <span class="fa fa-star"></span>
              </a>
              <a href="#">
                <span class="fa fa-star"></span>
              </a>
              <a href="#">
                <span class="fa fa-star"></span>
              </a>
              <a href="#">
               <span class="fa fa-star"></span>
             </a>
           </p>
         </figcaption>
       </figure>
     </div>
   </div>
   <div class="col-xs-12 divider text-center">
    <div class="col-xs-12 col-sm-4 emphasis">
      <h2><strong> 0 </strong></h2>
      <p><small>Seguidores</small></p>
      <!--
      <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
      -->
    </div>
    <div class="col-xs-12 col-sm-4 emphasis">
      <h2><strong>0</strong></h2>
      <p><small>Pontos</small></p>
      <!--
      <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
      -->
    </div>
    <div class="col-xs-12 col-sm-4 emphasis">
      <h2><strong>0</strong></h2>
      <p><small>Promoções & Cupons</small></p>
      <div class="btn-group dropup btn-block">
        <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu text-left" role="menu">
          <li><a href="#"><span class="fa fa-envelope pull-right"></span> Send an email </a></li>
          <li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list  </a></li>
          <li class="divider"></li>
          <li><a href="#"><span class="fa fa-warning pull-right"></span>Report this user for spam</a></li>
          <li class="divider"></li>
          <li><a href="#" class="btn disabled" role="button"> Unfollow </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
