<div class="row page-header">
  <div class="col-md-6">
    <h1>Todos os cupons</h1>
  </div>
  <% if user_signed_in? %>
    <div class="col-md-6">
      <div class="pull-right">
        <%= link_to new_coupon_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Novo Cupom
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% @coupons.each_slice(3) do |three_coupons| %>
  <div class="row">
    <% three_coupons.each do |coupon| %>
      <div class="col-md-4">
        <%= render "coupons/shared/coupon", coupon: coupon %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-9 col-md-offset-4">
    <%= will_paginate @coupons, renderer: BootstrapPagination::Rails %>
  </div>
</div>
