<div class="page-header">
  <%= link_to new_coupon_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Cupom
  <% end %>
  <h1>Todos os Cupons</h1>
</div>

<% @coupons.each_slice(3) do |three_coupons| %>
  <div class="row">
    <% three_coupons.each do |coupon| %>
      <div class="col-md-4">
        <%= render partial: "coupons/shared/coupon", locals: {coupon: coupon} %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="col-md-9 col-md-offset-4">
  <%= will_paginate @coupons, renderer: BootstrapPagination::Rails %>
</div>