<!-- http://bootsnipp.com/snippets/featured/css-coupons -->
<div class="page-header">
  <a class="btn btn-default" href="/coupons"><span class="glyphicon glyphicon-list-alt"></span> Voltar</a>
  <h1><%= @coupon.name.titleize %></h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: "coupons/shared/coupon", locals: {coupon: @coupon} %>
  </div>
</div>