<!-- http://bootsnipp.com/snippets/featured/css-coupons -->
<div class="page-header">
  <h1><%= @coupon.name.titleize %></h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: "coupons/shared/coupon", locals: {coupon: @coupon} %>
  </div>
  <%= render partial: "shared/comments", locals: { comments: @comments, new_comment: @new_comment } %>
</div>
