<div class="col-md-12">
  <% if @activities.any? %>
    <div class="row">
      <%= render_activities @activities %>
    </div>
  <% else %>
    <div class="well well-lg"><p><strong><%= @user.name_or_username %></strong> ainda não possui atividades cadastradas. </p></div>
  <% end %>

  <div class="row">
    <div class="col-md-12 col-centered">
      <%= will_paginate @activities, renderer: BootstrapPagination::Rails, param_name: 'activities', params: { current_selection: "activities" } %>
    </div>
  </div>
</div>
