<div class="statistics">
  <i class="fa fa-heart-o fa-lg fa-clickable"></i> <span>852</span> -
  <i class="fa fa-comments-o fa-lg fa-clickable"></i> <span>852</span> -
  <i class="fa fa-eye fa-lg"></i> <span><%= item.impressionist_count %></span>
</div>
