<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>
<div class="container" ng-controller="PromotionsController">
  <div infinite-scroll='soPromocoes.nextPage()' infinite-scroll-disabled='soPromocoes.busy' infinite-scroll-distance='0'>
    <div ng-repeat='item in soPromocoes.items track by $index'>
      <div class"row">
        <div class="col-md-3 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">{{item.name}}</div>
            <div class="panel-body">
              <div class="thumbnail">
                <img class='img-' ng-src="{{item.img_link}}" alt="Description" height="200" width="242" />
                <div class="caption">
                  <h3>{{item.description}}</h3>
                  <p class='price_from'>{{item.price_from}}</p>
                  <p class='price_to'>{{item.price_to}}</p>
                  <p class='price_billet'>{{item.price_billet}}</p>
                  <p class='percent_discount'>{{item.percent_discount}}</p>
                  <p class='init_at'>{{item.init_at}}</p>
                  <p class='end_at'>{{item.end_at}}</p>
                  <p class='link'>{{item.link}}</p>
                  <p class='user_id'>{{item.user_id}}</p>
                  <p class='created_at'>{{item.created_at}}</p>
                  <p class='updated_at'>{{item.updated_at}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show='soPromocoes.busy'>Carregando promoções...</div>
  </div>
  <hr>
</div>