<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>
<div class="container" ng-controller="PromotionsController">
  <div infinite-scroll='soPromocoes.nextPage()' infinite-scroll-disabled='soPromocoes.busy' infinite-scroll-distance='1'>
    <div ng-repeat='item in soPromocoes.items'>
      <div ngIf="$index % 4 == 0" class"row">
        <div class="col-md-3 col-sm-6">
          <span class='score'>{{item.score}}</span>
          <span class='title'>
            <a ng-href='{{item.url}}' target='_blank'>{{item.title}}</a>
          </span>
          <small>by {{item.author}} -
            <a ng-href='http://soPromocoes.com{{item.permalink}}' target='_blank'>{{item.num_comments}} comments</a>
          </small>
          <div style='clear: both;'></div>
        </div>
      </div ngIf="$index % 4 == 0">
    </div>
    <div ng-show='soPromocoes.busy'>Carregando promoções...</div>
  </div>
  <hr>
</div>