<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>

<div class="page-header">
  <%= link_to new_promotion_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nova Oferta
  <% end %>
  <h1>Todas as Ofertas</h1>
</div>

<% @promotions.each_slice(3) do |three_promotions| %>
  <div class="row">
    <% three_promotions.each do |promotion| %>
      <div class="col-md-4">
        <%= render partial: "promotions/shared/promotion", locals: {promotion: promotion} %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="col-md-9 col-md-offset-4">
  <%= will_paginate @promotions, renderer: BootstrapPagination::Rails %>
</div>
