<% @tops.each_slice(3) do |three_tops| %>
  <div class="row">
    <% three_tops.each do |top| %>
      <div class="col-md-4">
        <% if top.is_a? Promotion %>
          <%= render "promotions/shared/promotion", promotion: top %>
        <% else %>
          <!-- Comentário -->
          <%= render "coupons/shared/coupon", coupon: top %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
