<li class="list-group-item">
  <span class="glyphicon glyphicon-plus"></span>
  <small class="text-muted"><%= a.created_at.to_s(:hours_date) %></small><br/>
  <strong><%= activity.owner ? activity.owner.name_or_username : 'Guest' %></strong>
  <% if a.trackable %>
    adicionou a oferta <%= link_to a.trackable.name.truncate(35), a.trackable %>.
  <% else %>
    adicionou uma oferta que foi deletado.
  <% end %>
</li>
