<li class="list-group-item">
  <span class="glyphicon glyphicon-edit"></span>
  <small class="text-muted"><%= a.created_at.to_s(:hours_date) %></small><br/>
  <strong><%= activity.owner ? activity.owner.name : 'Guest' %></strong>
  <% if a.trackable %>
    editou a promoção <%= link_to a.trackable.name.truncate(35), a.trackable %>.
  <% else %>
    editou uma promoção que foi deletado.
  <% end %>
</li>
