html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 600px;
  padding-top: 20px;
  margin-top:50px;
  /* padding-bottom: 20px; */
  background-color: #eee;
  /* margin-bottom: 60px; */
}

/* Sticky footer styles
-------------------------------------------------- */
.btn-social {
  color: #fff !important;
}

.container.yield {
  padding-bottom: 2em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
.container .text-muted {
  margin: 20px 0;
}
