<div class="page-header">
  <% if user_signed_in? %>
    <%= link_to new_promotion_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Nova Oferta
    <% end %>
  <% end %>
  <h1>Todas as ofertas</h1>
</div>

<% @promotions.each_slice(3) do |three_promotions| %>
  <div class="row">
    <% three_promotions.each do |promotion| %>
      <div class="col-md-4">
        <%= render "promotions/shared/promotion", promotion: promotion %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="col-md-9 col-md-offset-4">
  <%= will_paginate @promotions, renderer: BootstrapPagination::Rails %>
</div>
